DATABASE_URL="file:../data/blog.db"
AUTH_SECRET="your-auth-secret-min-32-characters-long"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
NEXT_PUBLIC_SITE_TITLE="InfBlog"
NEXT_PUBLIC_SITE_DESCRIPTION="一个关于技术与设计的个人博客"
